{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name">
  <a href="{% url 'admin:index' %}">
    {% if site_settings and site_settings.admin_site_header %}
      {{ site_settings.admin_site_header }}
    {% else %}
      SatoShop 관리자
    {% endif %}
  </a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block extrahead %}
{{ block.super }}
<!-- 파비콘 -->
<link rel="icon" type="image/png" href="{% static 'images/satoshop-logo-1x1-favicon.png' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'images/satoshop-logo-1x1-favicon.png' %}">
<link rel="apple-touch-icon" href="{% static 'images/satoshop-logo-1x1-favicon.png' %}">
<!-- 어드민 커스텀 CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/admin_toggle.css' %}">
{% endblock %}

{% block footer %}
{{ block.super }}
<script src="{% static 'admin/js/admin_toggle.js' %}"></script>
{% endblock %} 